<div class="row">
  {{#each notes}}
  <div class="col-md-3 note-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <!-- Deskripsi Catatan dengan Tooltip -->
        <p data-toggle="tooltip" data-placement="top" title="{{ description }}">{{ description }}</p>
        <!-- DELETE REQUEST -->
        <form class="delete-form" action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="button" class="btn btn-danger btn-block btn-sm delete-btn">HAPUS</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p class="lead">Ayo mulai menulis.</p>
      <a href="/notes/add" class="btn btn-success btn-block">mualai!</a>
    </div>
  </div>
  {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  // Inisialisasi tooltip
  $('[data-toggle="tooltip"]').tooltip();

  $(".delete-btn").click(function() {
    var noteCard = $(this).closest(".note-card");
    noteCard.fadeOut(500, function() {
      $(this).find(".delete-form").submit();
    });
  });
});
</script>
